%link(rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css")

%h3{:style=>"text-align:center"} Top Professor Overall
%ul{:style=>"text-align:center"}

%table{:class => "table"}
  %thead
    %tr
      %th= link_to 'Professor', generalhistoryprofessors_path(:sort => 'name')
      %th= link_to 'Wins', generalhistoryprofessors_path(:sort => 'wins')
      %th= link_to 'Appearances', generalhistoryprofessors_path(:sort => 'appearances')
      %th= link_to 'Win Percentage(%)',generalhistoryprofessors_path(:sort => 'winpercentage')
  %tbody
    - @top5.each do |prof|
      %tr
        %td= link_to "#{prof.last_name}, #{prof.first_name} ", "professors/#{prof.id}"
        %td= prof.wins
        %td= prof.appearances
        %td= number_with_precision(prof.winpercentage, :precision => 2)

- Pquestion.all.each do |x|
  - if not x.Professor == []
    %h4= "#{x.question}"
    %table{:class => "table"}
      %thead
        %tr
          %th Professor Name
          %th Wins
          %th Appearances
          %th Win Percentage (%)
      - x.Professor.each do |y|
        %tbody
          %tr
            %td= "#{y.first_name} #{y.last_name}"
            %td= "#{Pvote.where(:Professor_id=>y.id, :Pquestion_id=>x.id)[0].wins}"
            %td= "#{Pvote.where(:Professor_id=>y.id, :Pquestion_id=>x.id)[0].appearances}"
            %td= number_with_precision((Pvote.where(:Professor_id=>y.id, :Pquestion_id=>x.id)[0].appearances != 0 ? Pvote.where(:Professor_id=>y.id, :Pquestion_id=>x.id)[0].wins.to_f/Pvote.where(:Professor_id=>y.id, :Pquestion_id=>x.id)[0].appearances.to_f*100 : 0),:precision=>2)

