%link(rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css")

%h3{:style=>"text-align:center"} Overall Voting Results
%ul{:style=>"text-align:center"}

%table{:class => "table", :style => "width:60%;margin:0 auto;margin-bottom:20px;"}
  %thead
    %tr
      %th{:class=>(session[:sort]=="name" ? 'highlight' : "nonhilite"), :style=>"width:5em"}
        #{link_to 'Course', generalhistoryclasses_path(:sort => 'name')} 
        -if session[:sort].to_s == "name"
          %b{:class=>'caret', :style =>"vertical-align:middle"} 
      %th{:class=>(session[:sort]=="wins" ? 'highlight' : "nonhilite"), :style=>"width:3em"}
        #{link_to 'Wins', generalhistoryclasses_path(:sort => 'wins')}
        -if session[:sort] == "wins" 
          %b{:class=>'caret', :style =>"vertical-align:middle"} 
      %th{:class=>(session[:sort]=="appearances" ? 'highlight' : "nonhilite"), :style=>"width:3em"}
        #{link_to 'Appearances', generalhistoryclasses_path(:sort => 'appearances')}
        -if session[:sort] == "appearances" 
          %b{:class=>'caret', :style =>"vertical-align:middle"} 
      %th{:class=>(session[:sort]=="winpercentage" ? 'highlight' : "nonhilite"), :style=>"width:5em"}
        #{link_to 'Win Percentage(%)',generalhistoryclasses_path(:sort => 'winpercentage')}
        -if session[:sort] == "winpercentage" || session[:sort] == nil
          %b{:class=>'caret', :style =>"vertical-align:middle"} 
  %tbody
    - @top5.each do |course|
      %tr
        %td{:class=>(session[:sort]=="name" ? 'highlight' : "nonhilite"), :style=>"width:5em"}#{course.course_name}
        %td{:class=>(session[:sort]=="wins" ? 'highlight' : "nonhilite"), :style=>"width:3em"}#{course.wins} 
        %td{:class=>(session[:sort]=="appearances" ? 'highlight' : "nonhilite"), :style=>"width:3em"}#{course.appearances}
        %td{:class=>(session[:sort]=="winpercentage" ? 'highlight' : "nonhilite"), :style=>"width:5em"}#{number_with_precision(course.winpercentage, :precision => 2)}
   
%div{:style=>"text-align:center"}
  - Cquestion.all.each do |x|
    - y = Course.find_by_sql('SELECT courses.id,course_name from courses INNER JOIN cvotes ON cvotes.course_id = courses.id WHERE cvotes.cquestion_id ='+x.id.to_s + " ORDER BY cvotes.winpercentage DESC, cvotes.appearances DESC").take(5)
    - if not y == []
      %div{:style=>"text-align:center; border: 1px solid black;width:550px;display:inline-block;height:300px; margin-top:5px;"}
        %h5= "#{x.question}"
        %table{:class => "table", :style=>"width:550px;margin:0 auto;"}
          %thead
            %tr
              %th{:style=>"text-align:center"} Ranking
              %th{:style=>"text-align:center"} Course Name
              %th{:style=>"text-align:center"} Wins
              %th{:style=>"text-align:center"} Appearances
              %th{:style=>"text-align:center"} Win Percentage (%)
          - count = 0
          - y.each do |z|	
            %tbody
              - count = count + 1
              %tr
                %td{:style=>"text-align:center"}= "#{count}"
                %td{:style=>"text-align:center"}= "#{z.course_name}"
                %td{:style=>"text-align:center"}= Cvote.where(:course_id=>z.id, :cquestion_id=>x.id)[0].wins
                %td{:style=>"text-align:center"}= Cvote.where(:course_id=>z.id, :cquestion_id=>x.id)[0].appearances
                %td{:style=>"text-align:center"}= number_with_precision(Cvote.where(:course_id=>z.id, :cquestion_id=>x.id)[0].winpercentage,:precision=>2)
