-#  This file is app/views/movies/index.html.haml
%h1{ :style =>"text-align:center"} #{@selected.first_name} #{@selected.last_name}

%table#table{ :class => "table",:style => "width: 200px;;float:left; " }
  %tbody
    - @professors.each do |professor|
      %tr
        %td= link_to "#{professor.first_name} #{professor.last_name}", professor_path(professor)

%div{:class => "span2", :style => "width:700px;float: left; margin-left:100px;text-align:center"}
  %img(src="#{@selected.image_path}"){ :style => "width:150px;margin-bottom:20px;"}
  %div
  %div
  %table{:class =>"table"}
    %tbody
      %tr
        %td Email: #{@selected.email}
      %tr
        %td Phone: #{@selected.phone}
      %tr
        %td Education: #{@selected.education}
  
