%link(rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css")

%h1{:style=>"text-align:center"} Overall Voting Results
%ul{:style=>"text-align:center"}

%table{:class => "table"}
  %thead
    %tr
      %th Professor
      %th Wins
      %th Appearances
      %th= link_to 'Win Percentage(%)', generalhistory(:sort => 'winpercentage')
  %tbody
    - @top5.each do |prof|
      %tr
        %td= link_to "#{prof.first_name} #{prof.last_name}", "professors/#{prof.id}"
        %td= prof.wins
        %td= prof.appearances
        %td= number_with_precision(prof.winpercentage, :precision => 2)

