%h1{:style => "text-align:center"} Which teacher is #{@random[1].first_name}  #{@random[1].last_name}?

=link_to image_tag("#{@random[0].image_path}"), "/votes/#{@random[0].id}"
=link_to image_tag("#{@random[1].image_path}"), "/votes/#{@random[1].id}"
-#%img(src="#{Professor.find(1).image_path}")= link_to "", v
